@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background-image: url(https://unsplash.com/photos/a-djs-deck-with-a-red-light-behind-it-l3mbHsZWVSw);
  color: #ffffff;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-container {
  max-width: 700px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.category-title {
  font-size: 1.8em;
  color: #d2691e;
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  border-bottom: 2px solid #d2691e;
  padding-bottom: 5px;
  margin-top: 30px;
}

ul.dishes-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dish-item {
  background-color: #f9f9f9;
  margin: 10px 0;
  padding: 12px 15px;
  border-radius: 5px;
  border-left: 4px solid #d2691e;
  font-size: 1.1em;
}

.dish-description {
  color: #666;
  font-size: 0.9em;
  margin-top: 5px;
}

.subheading {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  margin-top: 25px;
}